


    

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #0f0f0f;
    color: #ffffff;
    line-height: 1.6;
}


header {
    background-color: #111;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 40px;
    border-bottom: 2px solid #e62429;
}

.logo {
    cursor: pointer;
}


.nav a {
    color: #ffffff;
    text-decoration: none;
    margin-left: 20px;
    font-weight: bold;
    transition: color 0.3s;
}

.nav a:hover {
    color: #e62429;
    cursor: pointer;
}


main {
    padding: 30px 60px;
}

h1, h2 {
    color: #e62429;
    margin-bottom: 15px;
}

#comics h4{
    color: #e62429;
    margin-top: 10px;
}

p {
    margin-bottom: 15px;
    color: #dddddd;
}
.link{
    color: #e62429;
    text-decoration: none;
    margin-right: 15px;
}







#best_films a,
#new_films a {
    display: block;
    text-decoration: none;
    color: #ffffff;
    margin-bottom: 8px;
    padding: 8px;
    background-color: #1c1c1c;
    border-radius: 5px;
    transition:  0.3s;
}

#best_films a:hover,
#new_films a:hover {
    background-color: #e62429;
    color: #fff;
    cursor: pointer;
}


#comics {
    margin-top: 40px;
    background-color: #151515;
    padding: 20px;
    border-radius: 8px;
}




.legends {
    margin-top: 40px;
    background: linear-gradient(135deg, #1a1a1a, #0f0f0f);
    padding: 25px;
    border-radius: 10px;
    border: 1px solid #e62429;
}


@media (max-width: 768px) {
    header {
        flex-direction: column;
        text-align: center;
    }

    .nav {
        margin-top: 10px;
    }

    .nav a {
        display: inline-block;
        margin: 10px;
    }

    main {
        padding: 20px;
    }
}
.new1,.new2,.new3,.new4,.new5{
    padding: 10px;
    border-radius: 8px;
    transition: 300ms;
}
.new1:hover{
    background-color: #1c1c1c;
    border:  solid #ffffff;
    padding:15px ;
    cursor: pointer;
}
.new5:hover{
    background-color: #1c1c1c;
    border:  solid #ffffff;
    padding:15px ;
    cursor: pointer;
}
.new4:hover{
    background-color: #1c1c1c;
    border:  solid #ffffff;
    padding:15px ;
    cursor: pointer;
}
.new3:hover{
    background-color: #1c1c1c;
    border:  solid #ffffff;
    padding:15px ;
    cursor: pointer;
}
.new2:hover{
    background-color: #1c1c1c;
    border:  solid #ffffff;
    padding:15px ;
    cursor: pointer;
}
.card1 img{
       width: 150px; 
    height: auto;
    max-width: 100%
}
.card1{
    display: block;
    font-weight: 300;
    border: 2px solid #e62429;
    border-radius: 10px;
    width: 250px;
    align-items: center;
    margin-top: 50px;

}
.card1 h1{
    font-size: 16px;
}
.card1 p{
    align-items: center;
    display: flex;
}
.card1 img{
    padding-top: 10px;
    border-radius: 15px;
    display: flex;
    margin: 0 auto;
}
.card1 a{
    padding-bottom: 10px;
}
.card1 ,p,h1,img{
    padding: 0 10px 0 10px;
}
.card1 a{
    text-decoration: none;
    color: #dddddd;
    border: 1px solid rgb(255, 255, 255);
    display: flex;
     margin-bottom: 10px;
     border-radius: 20px;
     background-color: #e62429;
     transition: 400ms;
}
.card1 a:hover{
    color: #e62429;
    background-color: #ffffff;
    border-color: #e62429;
}
.card1 a{
   text-align: center;
    display: block;
}
.card1:hover{
    border: 4px solid #e62429;
    transition: 300ms;
    cursor: pointer;
}
.card2 img{
    width: 150px; 
    height: auto;
    max-width: 100%
}
.card2{
    display: block;
    font-weight: 300;
    border: 2px solid #0edd07;
    border-radius: 10px;
    width: 250px;
    align-items: center;
    margin-top: 50px;
    margin-left: 55px;
}
.card2 h1{
    font-size: 16px;
    color: #0edd07;
     text-align: center;
    display: block;
}
.card2 p{
     align-items: center;
    display: flex;
}
.card2 img{
    padding-top: 10px;
    border-radius: 15px;
    display: flex;
    margin: 0 auto;
}
.card2 a{
    padding-bottom: 10px;
}
.card2 ,p,h1,img{
    padding: 0 10px 0 10px;
}
.card2 a{
    text-decoration: none;
    color: #000000;
    border: 1px solid rgb(255, 255, 255);
    display: flex;
     margin-bottom: 10px;
     border-radius: 20px;
     background-color: #0edd07;
     transition: 400ms;
}
.card2 a:hover{
    color: #0edd07;
    background-color: #000000;
    border-color: #0edd07;
}
.card2 a{
   text-align: center;
    display: block;
}
.card2:hover{
    border: 4px solid #0edd07;
    transition: 300ms;
    cursor: pointer;
}



.card3 img{
    width: 150px; 
    height: auto;
    max-width: 100%
}
.card3{
    display: block;
    font-weight: 300;
    border: 2px solid #6b07dd;
    border-radius: 10px;
    width: 250px;
    align-items: center;
    margin-top: 50px;
    margin-left: 55px;
}
.card3 h1{
    font-size: 16px;
    color: #6b07dd;
     text-align: center;
    display: block;
}
.card3 p{
     align-items: center;
    display: flex;
}
.card3 img{
    padding-top: 10px;
    border-radius: 15px;
    display: flex;
    margin: 0 auto;
}
.card3 a{
    padding-bottom: 10px;
}
.card3 ,p,h1,img{
    padding: 0 10px 0 10px;
}
.card3 a{
    text-decoration: none;
    color: #ffffff;
    border: 1px solid #ffffff;
    display: flex;
     margin-bottom: 10px;
     border-radius: 20px;
     background-color: #6b07dd;
     transition: 400ms;
}
.card3 a:hover{
        color: #6b07dd;
    background-color: #ffffff;
    border-color: #6b07dd;
}
.card3 a{
   text-align: center;
    display: block;
}
.card3:hover{
    border: 4px solid #6b07dd;
    transition: 300ms;
    cursor: pointer;
}







.card4 img{
    width: 150px; 
    height: auto;
    max-width: 100%
}
.card4{
    display: block;
    font-weight: 300;
    border: 2px solid #0740dd;
    border-radius: 10px;
    width: 250px;
    align-items: center;
    margin-top: 50px;
    margin-left: 55px;
}
.card4 h1{
    font-size: 16px;
    color: #0740dd;
     text-align: center;
    display: block;
}
.card4 p{
     align-items: center;
    display: flex;
}
.card4 img{
    padding-top: 10px;
    border-radius: 15px;
    display: flex;
    margin: 0 auto;
}
.card4 a{
    padding-bottom: 10px;
}
.card4 ,p,h1,img{
    padding: 0 10px 0 10px;
}
.card4 a{
    text-decoration: none;
    color: #ffffff;
    border: 1px solid #ffffff;
    display: flex;
     margin-bottom: 10px;
     border-radius: 20px;
     background-color: #0740dd;
     transition: 400ms;
}
.card4 a:hover{
        color: #0740dd;
    background-color: #ffffff;
    border-color: #0740dd;
}
.card4 a{
   text-align: center;
    display: block;
}
.card4:hover{
    border: 4px solid #0740dd;
    transition: 300ms;
    cursor: pointer;
}









.card5 img{
    width: 150px; 
    height: auto;
    max-width: 100%
}
.card5{
    display: block;
    font-weight: 300;
    border: 2px solid #0787dd;
    border-radius: 10px;
    width: 250px;
    align-items: center;
    margin-top: 50px;
    margin-left: 55px;
}
.card5 h1{
    font-size: 16px;
    color: #0787dd;
     text-align: center;
    display: block;
}
.card5 p{
     align-items: center;
    display: flex;
}
.card5 img{
    padding-top: 10px;
    border-radius: 15px;
    display: flex;
    margin: 0 auto;
}
.card5 a{
    padding-bottom: 10px;
}
.card5 ,p,h1,img{
    padding: 0 10px 0 10px;
}
.card5 a{
    text-decoration: none;
    color: #ffffff;
    border: 1px solid #ffffff;
    display: flex;
     margin-bottom: 10px;
     border-radius: 20px;
     background-color: #0787dd;
     transition: 400ms;
}
.card5 a:hover{
        color: #0787dd;
    background-color: #ffffff;
    border-color: #0787dd;
}
.card5 a{
   text-align: center;
    display: block;
}
.card5:hover{
    border: 4px solid #0787dd;
    transition: 300ms;
    cursor: pointer;
}
#cards{
       display: flex;
}